<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h3 class="bg-dark text-white text-center">{{title}}</h3>
                   <h1 class="d-flex justify-content-center py-4"><i class="far fa-user fa-3x"></i></h1>
                <div class="card-text my-4 text-center">
                    <p class="lead">
                        Have an account? Log In
                        <br>
                        No account? Sign Up
                    </p>
                </div>

                <a class="btn btn-primary btn-block" href="/users/register" role="button">Sign Up</a>
                <a class="btn btn-info btn-block" href="/users/login" role="button">Sign In</a>
            </div>
        </div>
    </div>
</div>